{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}TranslaIA</title>
  <link rel="stylesheet" href="{% static 'styles/global.css' %}">
  {% block stylesheet %}{% endblock %}

  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>

<body>
  <div id="message-container">
    {% if messages %}
      {% for message in messages %}
        <div class="popup-message {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  
  <main>
    {% block content %}{% endblock %}
  </main>
    
  {% block scripts %}{% endblock %}
  <script>

    document.addEventListener("DOMContentLoaded", () => {
      const messages = document.querySelectorAll(".popup-message");
      messages.forEach((message) => {
        setTimeout(() => {
          message.remove();
        }, 5000);
      });
    });
  </script>
</body>
</html>